Repository nextflow-io/nextflow, pull requests merged in 2022-08, with the labels that each got.

#3083 Add warning to env config docs
  docs/config.rst
Labels: kind/docs

#3089 Add share identifier to aws batch
  docs/config.rst
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsBatchTaskHandler.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsOptions.groovy
  plugins/nf-amazon/src/test/nextflow/cloud/aws/batch/AwsBatchTaskHandlerTest.groovy
Labels: platform/aws-batch

#3097 Change google batch disk directive to override boot disk size
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchTaskHandler.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchTaskHandlerTest.groovy
Labels: platform/google-batch

#3093 Set aws batch polling monitor capacity from executor queueSize
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsBatchExecutor.groovy
Labels: platform/aws-batch

#3092 Add support for aws batch logs group
  docs/config.rst
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsBatchTaskHandler.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsOptions.groovy
  plugins/nf-amazon/src/test/nextflow/cloud/aws/batch/AwsBatchTaskHandlerTest.groovy
Labels: platform/aws-batch

#3037 Add notes about merge, multiMap, and multiple input channels
  docs/operator.rst
  docs/process.rst
Labels: kind/docs

#2816 Update docs to be DSL2-first
  docs/channel.rst
  docs/cli.rst
  docs/dsl2.rst
  docs/getstarted.rst
  docs/operator.rst
  docs/process.rst
  modules/nextflow/src/main/groovy/nextflow/extension/OperatorImpl.groovy
Labels: kind/docs
