Repository nextflow-io/nextflow, pull requests merged in 2022-09, with the labels that each got.

#3167 Add before-afterScript warning regarding containers
  docs/process.rst
Labels: kind/docs

#3142 Add fusion support to K8s executor
  modules/nextflow/src/main/groovy/nextflow/k8s/K8sExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/K8sTaskHandler.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/K8sWrapperBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sTaskHandlerTest.groovy
Labels: platform/k8s

#3200 Update CLI docs
  docs/cli.rst
Labels: kind/docs

#3213 Update community discussion
  README.md
Labels: kind/docs

#3220 Fix #3219 Channel merge still deprecated for DSL2
  modules/nextflow/src/main/groovy/nextflow/extension/OperatorImpl.groovy
Labels: lang/operators

#3234 Apply GCP resourceLabels to the VirtualMachine
  plugins/nf-google/src/main/nextflow/cloud/google/lifesciences/GoogleLifeSciencesHelper.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/lifesciences/GoogleLifeSciencesHelperTest.groovy
Labels: platform/google-lifesciences

#3251 Remove jobname truncation for hyperqueue executor
  modules/nextflow/src/main/groovy/nextflow/executor/HyperQueueExecutor.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/HyperQueueExecutorTest.groovy
Labels: platform/hyperqueue
