Repository nextflow-io/nextflow, pull requests merged in 2022-12, with the labels that each got.

#3443 Fix a few issues in BatchLogging.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/logging/BatchLogging.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/logging/BatchLoggingTest.groovy
Labels: platform/google-batch

#3425 Support IMDSv2 when using Amazon EC2 instances
  buildSrc/build.gradle
  plugins/nf-amazon/src/main/nextflow/cloud/aws/AmazonClientFactory.groovy
Labels: platform/aws-batch

#3453 Add allowedLocations option to google batch
  docs/google.rst
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchTaskHandler.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/client/BatchConfig.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchTaskHandlerTest.groovy
Labels: platform/google-batch

#3408 Clarify limitation of `-with-docker` in the docs [ci skip]
  docs/container.rst
Labels: kind/docs, env/docker

#3405 Clarify usage of additional options for path qualifier
  docs/process.rst
Labels: kind/docs

#3426 Simplify concat operator description
  docs/operator.rst
Labels: kind/docs

#3511 Fix FilePorter concurrency issue
  modules/nextflow/src/main/groovy/nextflow/executor/Executor.groovy
  modules/nextflow/src/main/groovy/nextflow/file/FilePorter.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/ExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/file/FilePorterTest.groovy
  plugins/nf-amazon/src/test/nextflow/cloud/aws/util/S3PathTest.groovy
  plugins/nf-google/src/test/nextflow/file/GsPathTest.groovy
Labels: backport/22.10.x
