Repository nextflow-io/nextflow, pull requests merged in 2022-11, with the labels that each got.

#3336 Update error messages and docs with new report filename behavior
  docs/config.rst
  modules/nextflow/src/main/groovy/nextflow/trace/GraphObserver.groovy
  modules/nextflow/src/main/groovy/nextflow/trace/TraceHelper.groovy
  modules/nextflow/src/test/groovy/nextflow/trace/TraceHelperTest.groovy
Labels: kind/docs

#3026 Make tests pass if user has set git defaultBranch
  modules/nextflow/src/test/groovy/nextflow/scm/AssetManagerTest.groovy
  modules/nextflow/src/test/groovy/nextflow/scm/LocalRepositoryProviderTest.groovy
Labels: git-interaction

#3132 Allow identity based authentication on Azure Batch
  docs/azure.rst
  plugins/nf-azure/build.gradle
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchExecutor.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchService.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzHelper.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzActiveDirectoryOpts.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzConfig.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzStorageOpts.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/file/AzPathFactory.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/nio/AzFileSystemProvider.groovy
Labels: storage/azure, platform/azure-batch

#3373 Add note to some process implicit variables
  docs/script.rst
Labels: kind/docs

#2988 Add CSI ephemeral volume
  docs/process.rst
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodMountCsiEphemeral.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodOptions.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodSpecBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodOptionsTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodSpecBuilderTest.groovy
Labels: platform/k8s

#3338 Remove cpu limits from K8s pod spec builder
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodSpecBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sDriverLauncherTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sTaskHandlerTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodSpecBuilderTest.groovy
Labels: platform/k8s

#3283 Add example for groupKey function in operator.rst
  docs/operator.rst
Labels: kind/docs

#2998 Use `ephemeral-storage` for `disk` directive and `k8s` executor
  docs/executor.rst
  docs/process.rst
  modules/nextflow/src/main/groovy/nextflow/k8s/K8sTaskHandler.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodMountEmptyDir.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodOptions.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodSpecBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodOptionsTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodSpecBuilderTest.groovy
Labels: platform/k8s
