Repository nextflow-io/nextflow, pull requests merged in 2022-01, with the labels that each got.

#2534 Fix docker timeout issues.
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchService.groovy
Labels: platform/azure-batch

#2559 Allow to specify memory/cpu resources for the control pod
  modules/nextflow/src/main/groovy/nextflow/cli/CmdKubeRun.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/K8sDriverLauncher.groovy
Labels: platform/k8s

#2522 Added affinity option to pod directive
  docs/process.rst
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodOptions.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodSpecBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodSpecBuilderTest.groovy
Labels: platform/k8s

#2576 Use account SAS token instead of service SAS token
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchExecutor.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzHelper.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/nio/AzFileSystem.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/nio/AzFileSystemProvider.groovy
Labels: storage/azure, platform/azure-batch

#2562 Add automountServiceAccountToken option for k8s executor
  docs/process.rst
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodOptions.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodSpecBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sDriverLauncherTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sTaskHandlerTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodOptionsTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodSpecBuilderTest.groovy
Labels: platform/k8s

#2584 Add securityContext pod option to docs
  docs/config.rst
  docs/process.rst
Labels: platform/k8s

#2585 Added priorityClassName pod option
  docs/process.rst
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodOptions.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodSpecBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sDriverLauncherTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sTaskHandlerTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodOptionsTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodSpecBuilderTest.groovy
Labels: platform/k8s

#2590 k8s executor: throw NodeTerminationException on node shutdown
  modules/nextflow/src/main/groovy/nextflow/k8s/client/K8sClient.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/client/K8sClientTest.groovy
Labels: platform/k8s

#2594 Update google cloud docs
  docs/google.rst
Labels: platform/google-ls
