Repository nextflow-io/nextflow, pull requests merged in 2023-04, with the labels that each got.

#3819 Add warnings for Azure named pools.
  docs/azure.rst
Labels: kind/docs

#3209 Add Fusion support to Azure batch executor
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionAwareTask.groovy
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionScriptLauncher.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sTaskHandlerTest.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchExecutor.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchService.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchTaskHandler.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/fusion/AzFusionEnv.groovy
  plugins/nf-azure/src/resources/META-INF/extensions.idx
  plugins/nf-azure/src/test/nextflow/cloud/azure/batch/AzBatchServiceTest.groovy
  plugins/nf-azure/src/test/nextflow/cloud/azure/nio/AzNioTest.groovy
Labels: platform/azure-batch, fusion

#3834 Convert large tables to definition lists
  docs/aws.md
  docs/azure.md
  docs/channel.md
  docs/config.md
  docs/google.md
  docs/metadata.md
  docs/operator.md
  docs/process.md
  docs/script.md
  docs/secrets.md
  docs/sharing.md
  docs/tracing.md
  docs/wave.md
Labels: kind/docs

#3837 Document return type of operators
  docs/channel.rst
  docs/operator.rst
  docs/process.rst
Labels: kind/docs

#3807 Fix invalid warning on func import
  modules/nextflow/src/main/groovy/nextflow/script/ScriptMeta.groovy
Labels: lang/modules

#3848 Fix `interval` channel factory
  modules/nextflow/src/main/groovy/nextflow/Channel.groovy
Labels: lang/operators

#3841 CI for docs
  .github/workflows/docs.yml
Labels: kind/docs

#3868 Fix Azure pool creation timestamp
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchService.groovy
  plugins/nf-azure/src/test/nextflow/cloud/azure/batch/AzBatchServiceTest.groovy
Labels: backport/23.04.x

#3864 Fix DSL2 support in nextflow console
  plugins/nf-console/src/main/nextflow/ui/console/Nextflow.groovy
Labels: lang/dsl2

#3869 Support `time` directive in Azure Batch
  docs/executor.rst
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchService.groovy
  plugins/nf-azure/src/test/nextflow/cloud/azure/batch/AzBatchServiceTest.groovy
Labels: platform/azure-batch

#3875 Fix string comparison in S3 client
  plugins/nf-amazon/src/main/nextflow/cloud/aws/nio/S3Client.java
Labels: storage/aws-s3

#3830 Operator splitJson
  docs/operator.rst
  modules/nextflow/src/main/groovy/nextflow/extension/OperatorImpl.groovy
  modules/nextflow/src/main/groovy/nextflow/extension/SplitOp.groovy
  modules/nextflow/src/main/groovy/nextflow/splitter/JsonSplitter.groovy
  modules/nextflow/src/main/groovy/nextflow/splitter/SplitterEx.groovy
  modules/nextflow/src/test/groovy/nextflow/splitter/JsonSplitterTest.groovy
Labels: lang/operators

#3880 Update to JGit 6.5 to use .setDepth(1) when cloning (#3879)
  modules/nextflow/build.gradle
  modules/nextflow/src/main/groovy/nextflow/scm/AssetManager.groovy
Labels: git-interaction

#3788 Document `nextflow.enable` and `nextflow.preview` feature flags
  docs/config.md
  docs/dsl2.md
Labels: kind/docs

#3904 Fix problem args were not correctly represented in debug yaml
  modules/nextflow/src/main/groovy/nextflow/k8s/K8sTaskHandler.groovy
Labels: platform/k8s

#3784 Document `-pool-size` run option
  docs/cli.md
Labels: kind/docs

#3670 Remove `Channel.from` in favor of `Channel.of`
  modules/nextflow/src/main/groovy/nextflow/extension/OperatorImpl.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/BranchOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/BufferOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/CollectOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/CombineOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/ConcatOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/CountFastaOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/CountFastqOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/CountLinesOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/DataflowMergeExtensionTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/DataflowTapExtensionTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/DumpOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/JoinOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/MixOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/MultiMapOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/OperatorImplTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/RandomSampleTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/SetOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/SplitFastaOperatorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/SplitFastqOp2Test.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/SplitFastqOperatorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/SplitTextOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/TransposeOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/ViewOperatorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/script/ScriptIncludesTest.groovy
  modules/nextflow/src/test/groovy/nextflow/script/ScriptPipesTest.groovy
  modules/nf-commons/src/test/nextflow/plugin/extension/PluginExtensionMethodsTest.groovy
Labels: lang/operators
