Repository nextflow-io/nextflow, pull requests merged in 2023-02, with the labels that each got.

#3586 Add requirements for container images to run with Nextflow
  docs/container.rst
  docs/tracing.rst
Labels: kind/docs

#3584 Add support for entryless Fusion configuration and Singularity support
  modules/nextflow/src/main/groovy/nextflow/container/ContainerConfig.groovy
  modules/nextflow/src/main/groovy/nextflow/container/SingularityCache.groovy
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionAwareTask.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/local/LocalTaskHandlerTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sTaskHandlerTest.groovy
  plugins/nf-amazon/src/test/nextflow/cloud/aws/batch/AwsBatchTaskHandlerTest.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/cli/WaveDebugCmd.groovy
Labels: env/singularity, fusion

#3548 Fix submit command in error message for grid executors that pipe wrapper script
  modules/nextflow/src/main/groovy/nextflow/executor/GridTaskHandler.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/GridTaskHandlerTest.groovy
Labels: platform/lsf

#3516 Add support for Fusion file system to Slurm and LSF executors
  modules/nextflow/src/main/groovy/nextflow/exception/ProcessNonZeroExitStatusException.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/AbstractGridExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/CrgExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/GridTaskHandler.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/LsfExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/MoabExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/NqsiiExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/PbsExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/SgeExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/SlurmExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/local/LocalTaskHandler.groovy
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionHelper.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskRun.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/AbstractGridExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/CrgExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/GridTaskHandlerTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/MoabExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/NqsiiExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/PbsExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/PbsProExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/SgeExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/SlurmExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/fusion/FusionHelperTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskRunTest.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/resolver/WaveContainerResolver.groovy
Labels: platform/lsf, platform/sge, platform/slurm, fusion

#3617 Add java install recommendations to docs
  docs/getstarted.rst
Labels: kind/docs

#3609 Add support for fusion tags
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionScriptLauncher.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/GridTaskHandlerTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/fusion/FusionScriptLauncherTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/local/LocalTaskHandlerTest.groovy
  plugins/nf-amazon/src/test/nextflow/executor/FusionScriptLauncherS3Test.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/WaveClient.groovy
Labels: fusion

#3538 Clarify named config scope nesting
  docs/config.rst
Labels: kind/docs

#3641 Automatically update year in the copyright notice at the bottom [ci skip]
  docs/conf.py
Labels: kind/docs

#3015 pbspro: ignore resource directives if -l option is specified
  docs/executor.rst
  modules/nextflow/src/main/groovy/nextflow/executor/PbsExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/PbsProExecutor.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/PbsExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/PbsProExecutorTest.groovy
Labels: platform/pbs, platform/pbspro

#3655 Add `dumpHashes` to Miscellaneous config scope
  docs/config.rst
Labels: kind/docs

#3608 Add support for debuging a Fusion task launched from Tower
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionAwareTask.groovy
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionConfig.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/cli/WaveDebugCmd.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/cli/WaveRunCmd.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/cli/WaveDebugCmdTest.groovy
Labels: fusion

#3680 Updates to S3 Glacier auto retrieval
  docs/config.rst
  plugins/nf-amazon/src/main/com/upplication/s3fs/AmazonS3Client.java
  plugins/nf-amazon/src/main/com/upplication/s3fs/S3FileSystemProvider.java
Labels: storage/aws-s3
