Repository nextflow-io/nextflow, pull requests merged in 2023-05, with the labels that each got.

#3938 Fixing bug 2428 for errorStrategy ignore
  modules/nextflow/src/main/groovy/nextflow/k8s/K8sTaskHandler.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sTaskHandlerTest.groovy
Labels: platform/k8s

#3902 Cleanup version notes in docs
  docs/_static/theme.css
  docs/aws.md
  docs/azure.md
  docs/channel.md
  docs/cli.md
  docs/conda.md
  docs/config.md
  docs/container.md
  docs/dsl2.md
  docs/executor.md
  docs/flux.md
  docs/fusion.md
  docs/getstarted.md
  docs/google.md
  docs/ignite.md
  docs/kubernetes.md
  docs/make-html.sh
  docs/operator.md
  docs/plugins.md
  docs/process.md
  docs/script.md
  docs/secrets.md
  docs/sharing.md
  docs/spack.md
  docs/tracing.md
  docs/wave.md
Labels: kind/docs

#3949 Clarify tip about groupTuple size and groupKey
  docs/operator.md
Labels: kind/docs

#3955 Fix dump pretty print to not modify input
  modules/nextflow/src/main/groovy/nextflow/extension/DumpHelper.groovy
Labels: lang/operators

#3960 Patch Google batch instance types
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchMachineTypeSelector.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchTaskHandler.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchMachineTypeSelectorTest.groovy
Labels: platform/google-batch

#3953 Improve documentation on Nextflow scripts
  docs/config.md
  docs/operator.md
  docs/process.md
  docs/script.md
  modules/nextflow/src/main/groovy/nextflow/Nextflow.groovy
Labels: kind/docs

#3861 Add disk resource with type option for google batch
  docs/google.md
  modules/nextflow/src/main/groovy/nextflow/executor/res/DiskResource.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskConfig.groovy
  modules/nextflow/src/main/groovy/nextflow/script/ProcessConfig.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/res/DiskResourceTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskConfigTest.groovy
  modules/nextflow/src/test/groovy/nextflow/script/ProcessConfigTest.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchFusionAdapter.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchMachineTypeSelector.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchTaskHandler.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchMachineTypeSelectorTest.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchTaskHandlerTest.groovy
Labels: platform/google-batch
