Repository nextflow-io/nextflow, pull requests merged in 2023-11, with the labels that each got.

#4468 Add note about local executor and enforcing resource limits
  docs/executor.md
Labels: docs

#4475 Fix google batch network/subnetwork docs
  docs/config.md
Labels: docs, executor/google-batch

#4440 Add support for Singularity OCI mode
  docs/config.md
  modules/nextflow/src/main/groovy/nextflow/container/ContainerConfig.groovy
  modules/nextflow/src/main/groovy/nextflow/container/ContainerHandler.groovy
  modules/nextflow/src/main/groovy/nextflow/container/SingularityBuilder.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/BashWrapperBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/container/ContainerConfigTest.groovy
  modules/nextflow/src/test/groovy/nextflow/container/ContainerHandlerTest.groovy
  modules/nextflow/src/test/groovy/nextflow/container/SingularityBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/BashWrapperBuilderTest.groovy
  plugins/nf-wave/build.gradle
  plugins/nf-wave/src/main/io/seqera/wave/plugin/resolver/WaveContainerResolver.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/WaveClientTest.groovy
Labels: software/singularity

#4487 Return error if plugin version is not specified in offline mode
  docs/config.md
  modules/nf-commons/src/main/nextflow/plugin/PluginUpdater.groovy
  modules/nf-commons/src/main/nextflow/plugin/PluginsFacade.groovy
Labels: plugins, error-improvements

#4485 Add support for K8s pod schedulerName
  docs/process.md
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodOptions.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodSpecBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodOptionsTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodSpecBuilderTest.groovy
Labels: executor/k8s

#4482 Add section about sharing modules
  docs/module.md
Labels: docs

#4477 Add section on process directives to plugin docs
  docs/plugins.md
  docs/process.md
Labels: docs

#4437 Document `emit` option in process outputs
  docs/process.md
  docs/workflow.md
Labels: docs

#4488 Update logging filter for Google Batch provider
  plugins/nf-google/src/main/nextflow/cloud/google/batch/logging/BatchLogging.groovy
Labels: executor/google-batch

#4505 Fix doc tests to fail on test failure
  docs/snippets/test.sh
Labels: docs

#4247 Checkout remote tag if checkout remote branch fails
  modules/nextflow/src/main/groovy/nextflow/scm/AssetManager.groovy
  modules/nextflow/src/test/groovy/nextflow/scm/AssetManagerTest.groovy
Labels: priority, software/git

#4348 Resolve Fusion symlinks when publishing files
  modules/nextflow/src/main/groovy/nextflow/processor/PublishDir.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskRun.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/PublishOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/PublishDirTest.groovy
  plugins/nf-amazon/src/test/nextflow/processor/PublishDirS3Test.groovy
  tests/checks/fusion-symlink.nf/.checks
  tests/checks/fusion-symlink.nf/.config
  tests/checks/fusion-symlink.nf/.expected
  tests/fusion-symlink.nf
Labels: priority, storage/fusion

#4514 Add note about limitations of glacier auto retrieval
  docs/config.md
Labels: docs

#4518 Add "fusion.cacheSize" config option
  docs/fusion.md
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionConfig.groovy
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionEnvProvider.groovy
  modules/nextflow/src/test/groovy/nextflow/fusion/FusionConfigTest.groovy
Labels: storage/fusion

#4508 Add support for Fusion when using Singularity OCI mode
  modules/nextflow/src/main/groovy/nextflow/container/ContainerConfig.groovy
  modules/nextflow/src/test/groovy/nextflow/container/ContainerConfigTest.groovy
Labels: software/singularity, storage/fusion

#4521 Bypass google batch price query if task cpus and memory are defined
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchMachineTypeSelector.groovy
Labels: executor/google-batch

#4527 Add support for Azure low-priority VMs
  docs/config.md
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchService.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzPoolOpts.groovy
  plugins/nf-azure/src/test/nextflow/cloud/azure/batch/AzBatchServiceTest.groovy
  plugins/nf-azure/src/test/nextflow/cloud/azure/config/AzPoolOptsTest.groovy
Labels: executor/azure-batch

#4513 Fix security vulnerabilities
  docker/Dockerfile
  modules/nextflow/build.gradle
  modules/nf-commons/build.gradle
  modules/nf-commons/src/main/nextflow/plugin/CustomPluginManager.groovy
  modules/nf-commons/src/testFixtures/groovy/nextflow/plugin/TestPluginDescriptorFinder.groovy
  packing.gradle
  plugins/nf-amazon/build.gradle
  plugins/nf-azure/build.gradle
  plugins/nf-cloudcache/build.gradle
  plugins/nf-codecommit/build.gradle
  plugins/nf-console/build.gradle
  plugins/nf-ga4gh/build.gradle
  plugins/nf-google/build.gradle
  plugins/nf-tower/build.gradle
  plugins/nf-wave/build.gradle
Labels: software/java

#4502 Improve operator docs
  docs/config.md
  docs/mail.md
  docs/operator.md
  docs/process.md
  docs/script.md
  docs/snippets/transpose-1.nf
  docs/snippets/transpose-1.out
  docs/snippets/transpose-2-with-remainder.nf
  docs/snippets/transpose-2-with-remainder.out
  docs/snippets/transpose-2.nf
  docs/snippets/transpose-2.out
Labels: docs

#4501 Add docs section on container requirements
  docs/aws.md
  docs/container.md
Labels: docs

#4524 Add Retry policy to Google Storage
  docs/config.md
  plugins/nf-google/src/main/nextflow/cloud/google/GoogleOpts.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/config/GoogleRetryOpts.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/config/GoogleStorageOpts.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/util/GsPathFactory.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/config/GoogleRetryOptsTest.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/util/GsPathFactoryTest.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/WaveClient.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/WaveClientTest.groovy
Labels: storage/gcp

#4500 Add google batch native retry
  docs/config.md
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchTaskHandler.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/client/BatchConfig.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchTaskHandlerTest.groovy
Labels: executor/google-batch

#4459 Add "topic" channel
  docs/channel.md
  docs/config.md
  docs/process.md
  docs/workflow.md
  modules/nextflow/src/main/groovy/nextflow/Channel.groovy
  modules/nextflow/src/main/groovy/nextflow/NF.groovy
  modules/nextflow/src/main/groovy/nextflow/NextflowMeta.groovy
  modules/nextflow/src/main/groovy/nextflow/ast/NextflowDSLImpl.groovy
  modules/nextflow/src/main/groovy/nextflow/extension/CH.groovy
  modules/nextflow/src/main/groovy/nextflow/extension/MixOp.groovy
  modules/nextflow/src/main/groovy/nextflow/script/ProcessDef.groovy
  modules/nextflow/src/main/groovy/nextflow/script/params/BaseOutParam.groovy
  modules/nextflow/src/main/groovy/nextflow/script/params/OutParam.groovy
  modules/nextflow/src/test/groovy/nextflow/script/params/ParamsOutTest.groovy
  tests/checks/topic-channel.nf/.checks
  tests/checks/topic-channel.nf/.expected
  tests/topic-channel.nf
Labels: lang/operators
