Repository nextflow-io/nextflow, pull requests merged in 2023-12, with the labels that each got.

#3474 Add support for Fargate resource type for AWS Batch
  docs/aws.md
  docs/config.md
  docs/executor.md
  plugins/nf-amazon/build.gradle
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsBatchExecutor.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsBatchTaskHandler.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsOptions.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/config/AwsBatchConfig.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/util/S3BashLib.groovy
  plugins/nf-amazon/src/test/nextflow/cloud/aws/batch/AwsBatchTaskHandlerTest.groovy
  plugins/nf-amazon/src/test/nextflow/cloud/aws/batch/AwsOptionsTest.groovy
  plugins/nf-amazon/src/test/nextflow/cloud/aws/config/AwsBatchConfigTest.groovy
  plugins/nf-amazon/src/test/nextflow/cloud/aws/util/S3BashLibTest.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/WaveClient.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/WaveFactory.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/WaveClientTest.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/WaveFactoryTest.groovy
  validation/awsbatch.sh
  validation/awsfargate.config
Labels: executor/aws-batch

#4593 Fix bug with Fusion symlink resolution
  modules/nextflow/src/main/groovy/nextflow/processor/PublishDir.groovy
  tests/checks/fusion-symlink.nf/.checks
Labels: storage/fusion, backport/23.10.1

#4596 Remove undocumented userEmulation mode
  modules/nextflow/src/main/groovy/nextflow/container/DockerBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/container/DockerBuilderTest.groovy
Labels: software/docker

#4604 Fix fusion symlink test
  tests/checks/fusion-symlink.nf/.checks
Labels: storage/fusion
