Repository nextflow-io/nextflow, pull requests merged in 2023-06, with the labels that each got.

#3992 Fallback to anonymous credentials in S3 client
  plugins/nf-amazon/src/main/nextflow/cloud/aws/AwsClientFactory.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/util/S3CredentialsProvider.groovy
  tests/checks/s3-public/.checks
Labels: storage/aws-s3

#3974 Add httpConnectTimeout and httpReadTimeout to google config
  docs/config.md
  plugins/nf-google/build.gradle
  plugins/nf-google/src/main/nextflow/cloud/google/GoogleOpts.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/util/GsPathFactory.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/util/GsPathFactoryTest.groovy
Labels: platform/google-batch

#4044 Update link to Tower registry credentials docs.
  docs/wave.md
Labels: kind/docs

#4049 Fix error in Azure docs
  docs/azure.md
Labels: kind/docs

#4043 Ignore accelerator type for AWS Batch
  docs/process.md
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsBatchTaskHandler.groovy
Labels: platform/aws-batch

#4056 Disable singularity home mount by default
  docs/container.md
  modules/nextflow/src/main/groovy/nextflow/container/SingularityBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/container/ApptainerBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/container/SingularityBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/BashWrapperBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/fusion/FusionHelperTest.groovy
Labels: env/singularity

#3990 feat: add remote bin support for TES in a workdir
  plugins/nf-ga4gh/src/main/nextflow/ga4gh/tes/executor/TesBashBuilder.groovy
  plugins/nf-ga4gh/src/main/nextflow/ga4gh/tes/executor/TesExecutor.groovy
  plugins/nf-ga4gh/src/main/nextflow/ga4gh/tes/executor/TesFileCopyStrategy.groovy
  plugins/nf-ga4gh/src/main/nextflow/ga4gh/tes/executor/TesTaskHandler.groovy
  plugins/nf-ga4gh/src/test/nextflow/ga4gh/tes/executor/TesBashBuilderTest.groovy
  plugins/nf-ga4gh/src/test/nextflow/ga4gh/tes/executor/TesTaskHandlerTest.groovy
Labels: platform/ga4gh-tes

#4020 Add rule to build Nextflow docker image for ARM
  docker/Makefile
Labels: env/docker

#4046 Fix invalid detection of hierarchical namespace stub blobs as files
  plugins/nf-azure/src/main/nextflow/cloud/azure/nio/AzFileAttributes.groovy
Labels: platform/azure-batch

#4064 Fix errors in docs
  docs/container.md
  docs/executor.md
Labels: kind/docs
