Repository nextflow-io/nextflow, pull requests merged in 2023-07, with the labels that each got.

#4067 Netlify: No deployment (previews) unless 'docs/' files change
  docs/netlify.toml
Labels: kind/docs

#4045 Add SSO credentials provider from AWS SDK v2
  docs/aws.md
  plugins/nf-amazon/build.gradle
  plugins/nf-amazon/src/main/nextflow/cloud/aws/AwsClientFactory.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/util/SsoCredentialsProviderV1.groovy
Labels: platform/aws-batch

#4023 feat: Allow SLURM executor option `--mem-per-cpu`
  docs/config.md
  docs/executor.md
  modules/nextflow/src/main/groovy/nextflow/executor/SlurmExecutor.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/SlurmExecutorTest.groovy
Labels: platform/slurm

#4113 Document `NXF_WRAPPER_STAGE_FILE_THRESHOLD` environment variable
  docs/config.md
Labels: kind/docs

#4122 Improve "Unexpected input: '{'" error message
  modules/nextflow/src/main/groovy/nextflow/script/ScriptParser.groovy
Labels: error-improvements

#4120 Improve description of channels and channel types
  docs/channel.md
Labels: kind/docs

#4129 Document behavior of withName selector with included aliases
  docs/config.md
Labels: kind/docs, lang/config, lang/modules

#4128 Allow workflow entry from module import
  modules/nextflow/src/main/groovy/nextflow/script/BaseScript.groovy
  modules/nextflow/src/main/groovy/nextflow/script/ScriptMeta.groovy
  modules/nextflow/src/test/groovy/nextflow/script/BaseScriptTest.groovy
  modules/nextflow/src/test/groovy/nextflow/script/ProcessDefTest.groovy
  modules/nextflow/src/test/groovy/nextflow/script/ScriptMetaTest.groovy
Labels: lang/modules

#4085 Fix incorrect error message on missing comma
  modules/nextflow/src/main/groovy/nextflow/script/params/BaseParam.groovy
  modules/nextflow/src/test/groovy/nextflow/script/params/ParamsInTest.groovy
Labels: error-improvements
