Repository nextflow-io/nextflow, pull requests merged in 2023-09, with the labels that each got.

#4253 Temporary fix for upstream conda bug: parallel execution of conda corrupts data and packages
  modules/nextflow/src/main/groovy/nextflow/conda/CondaCache.groovy
Labels: env/conda

#4248 Add warning about using clusterOptions with process directives
  docs/process.md
Labels: docs

#4235 Update AZ File share doc. [ci skip]
  docs/azure.md
Labels: docs

#4163 more clear explanation about splitCsv() operators
  docs/operator.md
Labels: docs

#4251 Document use of local variables in closures
  docs/script.md
Labels: docs

#4189 Document API differences of process path inputs
  docs/process.md
Labels: docs

#4187 Update documentation of NXF_DEBUG
  modules/nextflow/src/main/groovy/nextflow/executor/BashWrapperBuilder.groovy
Labels: docs

#4121 First attempt at clarification of the bin dir
  docs/sharing.md
Labels: docs

#4088 Report an error on duplicate workflow name definitions
  modules/nextflow/src/main/groovy/nextflow/script/ScriptMeta.groovy
  modules/nextflow/src/test/groovy/nextflow/script/ScriptIncludesTest.groovy
  modules/nextflow/src/test/groovy/nextflow/script/ScriptMetaTest.groovy
Labels: error-improvements

#4274 Improve pod options documentation
  docs/process.md
Labels: docs

#4282 Disable staging script for remote work dir
  modules/nextflow/src/main/groovy/nextflow/executor/BashWrapperBuilder.groovy
  plugins/nf-amazon/src/test/nextflow/cloud/aws/batch/AwsBatchScriptLauncherTest.groovy
  plugins/nf-azure/src/test/nextflow/cloud/azure/batch/AzFileCopyStrategyTest.groovy
Labels: storage/aws-s3

#4196 Improve K8s unit tests
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sDriverLauncherTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sTaskHandlerTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodSpecBuilderTest.groovy
Labels: platform/k8s, ready-to-merge

#4070 Improve DAG rendering
  docs/conf.py
  docs/config.md
  docs/images/dag-mermaid.png
  docs/images/dag.mmd
  docs/requirements.txt
  docs/tracing.md
  modules/nextflow/src/main/groovy/nextflow/Channel.groovy
  modules/nextflow/src/main/groovy/nextflow/dag/DAG.groovy
  modules/nextflow/src/main/groovy/nextflow/dag/MermaidRenderer.groovy
  modules/nextflow/src/test/groovy/nextflow/dag/DAGTest.groovy
  modules/nextflow/src/test/groovy/nextflow/dag/DotRendererTest.groovy
  modules/nextflow/src/test/groovy/nextflow/dag/MermaidRendererTest.groovy
Labels: ready-to-merge

#4065 Add developer docs
  docs/.dockerignore
  docs/_static/theme.css
  docs/developer/diagrams/.gitignore
  docs/developer/diagrams/README.md
  docs/developer/diagrams/merge-diagrams.sh
  docs/developer/diagrams/nextflow.ast.mmd
  docs/developer/diagrams/nextflow.cache.mmd
  docs/developer/diagrams/nextflow.cli.mmd
  docs/developer/diagrams/nextflow.cloud.aws.mmd
  docs/developer/diagrams/nextflow.cloud.aws.nio.mmd
  docs/developer/diagrams/nextflow.cloud.azure.mmd
  docs/developer/diagrams/nextflow.cloud.google.mmd
  docs/developer/diagrams/nextflow.config.mmd
  docs/developer/diagrams/nextflow.container.mmd
  docs/developer/diagrams/nextflow.dag.mmd
  docs/developer/diagrams/nextflow.executor.mmd
  docs/developer/diagrams/nextflow.extension.mmd
  docs/developer/diagrams/nextflow.ga4gh.mmd
  docs/developer/diagrams/nextflow.k8s.mmd
  docs/developer/diagrams/nextflow.mmd
  docs/developer/diagrams/nextflow.plugin.mmd
  docs/developer/diagrams/nextflow.processor.mmd
  docs/developer/diagrams/nextflow.scm.mmd
  docs/developer/diagrams/nextflow.script.mmd
  docs/developer/diagrams/nextflow.secret.mmd
  docs/developer/diagrams/nextflow.trace.mmd
  docs/developer/index.md
  docs/developer/nextflow.ast.md
  docs/developer/nextflow.cache.md
  docs/developer/nextflow.cli.md
  docs/developer/nextflow.cloud.aws.md
  docs/developer/nextflow.cloud.aws.nio.md
  docs/developer/nextflow.cloud.azure.md
  docs/developer/nextflow.cloud.google.md
  docs/developer/nextflow.config.md
  docs/developer/nextflow.container.md
  docs/developer/nextflow.dag.md
  docs/developer/nextflow.executor.md
  docs/developer/nextflow.extension.md
  docs/developer/nextflow.ga4gh.md
  docs/developer/nextflow.k8s.md
  docs/developer/nextflow.md
  docs/developer/nextflow.plugin.md
  docs/developer/nextflow.processor.md
  docs/developer/nextflow.scm.md
  docs/developer/nextflow.script.md
  docs/developer/nextflow.secret.md
  docs/developer/nextflow.trace.md
  docs/developer/packages.md
  docs/getstarted.md
  docs/index.md
Labels: docs, ready-to-merge

#4320 Add conda.enabled to conda config scope docs
  docs/config.md
Labels: docs

#4327 Document `NXF_DISABLE_CHECK_LATEST` environment var
  docs/cli.md
  docs/config.md
  docs/plugins.md
  docs/wave.md
Labels: docs

#4333 Document source of `vol_ctxt` and `inv_ctxt` trace metrics
  docs/tracing.md
  modules/nextflow/src/main/groovy/nextflow/trace/TraceRecord.groovy
Labels: docs

#4328 Document `fs` CLI command
  docs/cli.md
  modules/nextflow/src/main/groovy/nextflow/cli/CmdFs.groovy
Labels: docs

#4337 Use Mermaid diagram in HTML DAG
  docs/cli.md
  docs/config.md
  docs/images/dag.mmd
  docs/images/dag.png
  docs/tracing.md
  modules/nextflow/src/main/groovy/nextflow/dag/CytoscapeJsRenderer.groovy
  modules/nextflow/src/main/groovy/nextflow/dag/MermaidHtmlRenderer.groovy
  modules/nextflow/src/main/groovy/nextflow/dag/MermaidRenderer.groovy
  modules/nextflow/src/main/groovy/nextflow/trace/GraphObserver.groovy
  modules/nextflow/src/main/resources/nextflow/dag/cytoscape.js.dag.template.html
  modules/nextflow/src/main/resources/nextflow/dag/mermaid.dag.template.html
  modules/nextflow/src/test/groovy/nextflow/config/ConfigBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/dag/MermaidRendererTest.groovy
  modules/nextflow/src/test/groovy/nextflow/trace/GraphObserverTest.groovy
  tests/checks/hello.nf/.checks
Labels: ready-to-merge

#4334 Remove line endings from container box id
  modules/nextflow/src/main/groovy/nextflow/executor/BashWrapperBuilder.groovy
Labels: env/docker

#4217 Document when process directives are evaluated
  docs/process.md
Labels: docs, ready-to-merge
