Repository nextflow-io/nextflow, pull requests merged in 2023-10, with the labels that each got.

#4263 Incorporate README content into Nextflow docs
  .editorconfig
  CONTRIBUTING.md
  README.md
  docs/config.md
  docs/developer/index.md
  docs/developer/plugins.md
  docs/index.md
  docs/plugins.md
  plugins/README.md
  plugins/nf-azure/README.md
  tests/README.md
Labels: docs, ready-to-merge

#4371 Add docs page on caching and resuming
  docs/cache-and-resume.md
  docs/cli.md
  docs/getstarted.md
  docs/index.md
  docs/operator.md
  docs/process.md
  docs/script.md
  docs/sharing.md
Labels: docs, ready-to-merge

#4369 Improve `-dump-hashes` output
  docs/cache-and-resume.md
  docs/cli.md
  modules/nextflow/src/main/groovy/nextflow/Session.groovy
  modules/nextflow/src/main/groovy/nextflow/cli/CmdRun.groovy
  modules/nextflow/src/main/groovy/nextflow/cli/Launcher.groovy
  modules/nextflow/src/main/groovy/nextflow/config/ConfigBuilder.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskProcessor.groovy
Labels: ready-to-merge

#3793 Incorporate DSL2 features into docs
  docs/azure.md
  docs/cli.md
  docs/conf.py
  docs/container.md
  docs/dsl1.md
  docs/dsl2.md
  docs/getstarted.md
  docs/index.md
  docs/make-html.sh
  docs/module.md
  docs/process.md
  docs/requirements.txt
  docs/script.md
  docs/snippets/your-first-script.nf
  docs/wave.md
  docs/workflow.md
Labels: docs, ready-to-merge

#4447 Docs: Plugins offline, don't recommend -all
  docs/plugins.md
Labels: docs
