Repository nextflow-io/nextflow, pull requests merged in 2023-03, with the labels that each got.

#3695 Remove DNAnexus page from docs
  docs/dnanexus.rst
Labels: kind/docs

#3696 Update gradle dockerPack
  packing.gradle
Labels: env/docker

#3723 Add azure batch pool virtualNetwork option
  docs/azure.rst
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchService.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzPoolOpts.groovy
Labels: platform/azure-batch

#3740 Add note about modifying maps with the `+` operator
  docs/script.rst
Labels: kind/docs

#3685 Improve transpose and groupTuple examples in the docs
  docs/cli.rst
  docs/operator.rst
Labels: kind/docs

#3677 Edit `fair` directive
  docs/process.rst
Labels: kind/docs

#3738 Make GroupKey cloneable
  modules/nextflow/src/main/groovy/nextflow/extension/GroupKey.groovy
Labels: lang/operators

#3751 Update vm sizes.
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-australiacentral.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-australiaeast.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-australiasoutheast.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-brazilsouth.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-canadacentral.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-canadaeast.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-centralindia.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-centralus.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-eastasia.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-eastus.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-eastus2.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-francecentral.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-germanywestcentral.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-japaneast.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-japanwest.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-jioindiawest.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-koreacentral.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-koreasouth.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-northcentralus.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-northeurope.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-norwayeast.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-qatarcentral.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-southafricanorth.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-southcentralus.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-southeastasia.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-southindia.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-swedencentral.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-switzerlandnorth.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-uaenorth.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-uksouth.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-ukwest.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-westcentralus.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-westeurope.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-westus.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-westus2.json
  plugins/nf-azure/src/resources/nextflow/cloud/azure/vm-list-size-westus3.json
Labels: platform/azure-batch

#3747 Add error message for missing container image with Google Batch
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchTaskHandler.groovy
Labels: platform/google-batch

#3767 Document the azure fileshare mount option
  docs/azure.rst
Labels: kind/docs, platform/azure-batch

#3794 Update docs on subscribe (Fix #3761)
  docs/channel.rst
  docs/operator.rst
Labels: kind/docs
