Repository nextflow-io/nextflow, pull requests merged in 2023-08, with the labels that each got.

#4149 Update Wave and Fusion docs
  docs/fusion.md
  docs/wave.md
Labels: kind/docs

#4150 Fix strict mode docs
  docs/config.md
Labels: kind/docs

#4147 Fix bug with K8s resource labels
  modules/nextflow/src/main/groovy/nextflow/k8s/K8sTaskHandler.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sTaskHandlerTest.groovy
Labels: platform/k8s

#4180 Document error about trailing backslash with space
  docs/script.md
Labels: kind/docs, error-improvements

#4174 Update AWS instructions for creating a custom AMI [ci skip]
  docs/aws.md
Labels: kind/docs

#4153 Update tip about modifying maps
  docs/script.md
Labels: kind/docs

#4191 Remove dockerize launcher classpath file
  nextflow
  packing.gradle
Labels: env/docker

#4192 FIx nested InvocationTargetException
  modules/nextflow/src/main/groovy/nextflow/script/BaseScript.groovy
Labels: error-improvements

#4178 Support resource labels for Azure Batch
  docs/executor.md
  docs/process.md
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchService.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzVmPoolSpec.groovy
  plugins/nf-azure/src/test/nextflow/cloud/azure/batch/AzBatchServiceTest.groovy
Labels: platform/azure-batch

#4230 Align Singularity experience with Docker
  docs/config.md
  docs/container.md
  modules/nextflow/src/main/groovy/nextflow/container/SingularityBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/cli/CmdInfoTest.groovy
  modules/nextflow/src/test/groovy/nextflow/container/ApptainerBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/container/SingularityBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/BashWrapperBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/fusion/FusionHelperTest.groovy
Labels: env/singularity
