Repository nextflow-io/nextflow, pull requests merged in 2024-04, with the labels that each got.

#4885 Docs: AWS - mention Tower Forge.
  docs/aws.md
Labels: docs

#4883 Improve control on azcopy install
  docs/config.md
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchService.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzBatchOpts.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/CopyToolInstallMode.groovy
  plugins/nf-azure/src/test/nextflow/cloud/azure/config/AzBatchOptsTest.groovy
Labels: executor/azure-batch

#4918 Docs: Version switcher dropdown link fix
  docs/_templates/layout.html
Labels: docs

#4923 Use full (String) form of S3 uris in error message
  plugins/nf-amazon/src/main/nextflow/cloud/aws/nio/S3FileSystemProvider.java
Labels: storage/aws

#4922 Update developer diagrams
  docs/developer/diagram.md
  docs/developer/diagrams/merge-diagrams.sh
  docs/developer/diagrams/nextflow.cache.mmd
  docs/developer/diagrams/nextflow.cloud.aws.nio.mmd
  docs/developer/diagrams/nextflow.config.mmd
  docs/developer/diagrams/nextflow.executor.mmd
  docs/developer/diagrams/nextflow.extension.mmd
  docs/developer/diagrams/nextflow.script.mmd
  docs/developer/diagrams/nextflow.secret.mmd
  docs/developer/diagrams/nextflow.trace.mmd
  docs/developer/diagrams/overview.mmd
  docs/developer/nextflow.executor.md
  docs/developer/nextflow.k8s.md
  docs/developer/nextflow.processor.md
  docs/developer/nextflow.script.md
  docs/developer/nextflow.trace.md
  docs/index.md
Labels: docs

#2911 Add resourceLimits directive
  docs/process.md
  modules/nextflow/src/main/groovy/nextflow/executor/res/DiskResource.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskConfig.groovy
  modules/nextflow/src/main/groovy/nextflow/script/ProcessConfig.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/res/DiskResourceTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskConfigTest.groovy
  modules/nextflow/src/test/groovy/nextflow/script/ProcessConfigTest.groovy
  modules/nf-commons/src/test/nextflow/util/DurationTest.groovy
Labels: lang/processes

#4927 Fix semaphore in parallel polling monitor
  modules/nextflow/src/main/groovy/nextflow/processor/ParallelPollingMonitor.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/ParallelPollingMonitorTest.groovy
Labels: executor/aws-batch, backport/23.10.2

#4947 Fix security vulnerability in logback
  modules/nextflow/build.gradle
  modules/nf-commons/build.gradle
  modules/nf-httpfs/build.gradle
Labels: security

#4950 Improve config resolution docs
  docs/config.md
Labels: docs

#4957 Fix flaky docs test
  docs/snippets/process-out-env.nf
  docs/snippets/process-out-env.out
Labels: docs

#4959 Guarantees K8s pod name is unique on resume
  modules/nextflow/src/main/groovy/nextflow/k8s/K8sTaskHandler.groovy
Labels: executor/k8s
