Repository nextflow-io/nextflow, pull requests merged in 2024-11, with the labels that each got.

#5426 Add conda channels in reference docs
  docs/conda.md
  docs/reference/config.md
Labels: docs, software/conda

#5495 Document Fusion compatibility for Oracle storage
  docs/fusion.md
Labels: docs, storage/fusion

#5472 Clarify behavior of template scripts
  docs/process.md
Labels: docs

#5505 Clarify meaning of `task.id` versus `task.index`
  docs/reference/process.md
Labels: docs

#5526 Update process snippets to comply with strict syntax
  docs/cache-and-resume.md
  docs/channel.md
  docs/conda.md
  docs/container.md
  docs/developer/nextflow.ast.md
  docs/developer/plugins.md
  docs/dsl1.md
  docs/google.md
  docs/metrics.md
  docs/overview.md
  docs/process.md
  docs/reference/channel.md
  docs/reference/process.md
  docs/secrets.md
  docs/spack.md
  docs/vscode.md
  docs/your-first-script.md
Labels: docs

#5519 Document spread dot and safe dot
  docs/reference/syntax.md
Labels: docs

#5534 Docs: Move `-params-file` config from CLI to config
  docs/cli.md
  docs/config.md
  docs/reference/cli.md
Labels: docs

#5531 Docs: Improve Conda docs - PyPI + lock files
  docs/conda.md
  docs/wave.md
Labels: docs

#5498 Add singularity.libraryDir to config page
  docs/container.md
  docs/reference/config.md
Labels: docs, software/singularity

#5540 Fix overlapping conda lock file
  modules/nextflow/src/main/groovy/nextflow/conda/CondaCache.groovy
  modules/nextflow/src/test/groovy/nextflow/conda/CondaCacheTest.groovy
Labels: software/conda

#5542 Update syntax docs
  docs/reference/syntax.md
  docs/vscode.md
Labels: docs
