Repository nextflow-io/nextflow, pull requests merged in 2024-09, with the labels that each got.

#5264 fix: k8s client status cond is possible null in podState
  modules/nextflow/src/main/groovy/nextflow/k8s/client/K8sClient.groovy
Labels: executor/k8s

#5278 Support Azure Managed Identities in Fusion configuration logic
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzActiveDirectoryOpts.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzRegistryOpts.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzStorageOpts.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/fusion/AzFusionEnv.groovy
  plugins/nf-azure/src/test/nextflow/cloud/azure/batch/AzBatchServiceTest.groovy
  plugins/nf-azure/src/test/nextflow/cloud/azure/fusion/AzFusionEnvTest.groovy
Labels: storage/azure, storage/fusion

#5279 In Google Batch, add missed warning
  docs/google.md
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchTaskHandler.groovy
Labels: executor/google-batch

#5281 Fix job array syntax for PBS/Torque executor
  modules/nextflow/src/main/groovy/nextflow/executor/PbsExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/PbsProExecutor.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/PbsExecutorTest.groovy
Labels: executor/pbs

#5189 Explicit delegation to target class for ArrayBag
  modules/nextflow/src/main/groovy/nextflow/util/ArrayBag.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/JoinOpTest.groovy
  modules/nextflow/src/test/groovy/nextflow/util/ArrayBagTest.groovy
Labels: lang/operators, lang/processes

#5294 Add Fusion version pinning info to Fusion config scope
  docs/config.md
Labels: docs, storage/fusion

#5314 Include additional fields to manifest
  docs/config.md
  modules/nextflow/src/main/groovy/nextflow/config/Manifest.groovy
  modules/nextflow/src/test/groovy/nextflow/config/ManifestTest.groovy
Labels: lang/config

#5331 Fix AWS spot attempts with zero value
  plugins/nf-amazon/src/main/nextflow/cloud/aws/config/AwsBatchConfig.groovy
Labels: backport/24.04.5

#4766 Separate reference docs from manual pages
  docs/Dockerfile
  docs/_static/report-resource-memory.png
  docs/amazons3.md
  docs/aws.md
  docs/azure.md
  docs/cache-and-resume.md
  docs/channel.md
  docs/cli.md
  docs/conf.py
  docs/config.md
  docs/developer/diagram.md
  docs/developer/index.md
  docs/developer/nextflow.dag.md
  docs/developer/nextflow.md
  docs/developer/plugins.md
  docs/flux.md
  docs/git.md
  docs/index.md
  docs/metadata.md
  docs/metrics.md
  docs/notifications.md
  docs/plugins.md
  docs/process.md
  docs/reference/channel.md
  docs/reference/cli.md
  docs/reference/config.md
  docs/reference/env-vars.md
  docs/reference/feature-flags.md
  docs/reference/operator.md
  docs/reference/process.md
  docs/reference/stdlib.md
  docs/reports.md
  docs/script.md
  docs/sharing.md
  docs/wave.md
  docs/workflow.md
  docs/working-with-files.md
Labels: docs

#5198 Update nextflow install path
  docs/install.md
Labels: docs
