Repository nextflow-io/nextflow, pull requests merged in 2024-06, with the labels that each got.

#5049 Docs sidebar: Black text for version changer.
  docs/_static/theme.css
Labels: docs

#5027 Allow requester pays for S3 buckets
  docs/config.md
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsBatchExecutor.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsOptions.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/config/AwsS3Config.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/nio/S3Client.java
  plugins/nf-amazon/src/main/nextflow/cloud/aws/nio/S3FileSystemProvider.java
  plugins/nf-amazon/src/main/nextflow/cloud/aws/util/S3BashLib.groovy
Labels: storage/aws

#5037 Retry Google 500 errors when writing task helper files
  modules/nextflow/src/main/groovy/nextflow/executor/BashWrapperBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/BashWrapperBuilderTest.groovy
  plugins/nf-google/src/test/nextflow/executor/BashWrapperBuilderWithGoogleTest.groovy
Labels: storage/gcp

#5051 Add note that beforeScript runs inside the container for some execution environments
  docs/process.md
Labels: docs

#5057 Fix security vulnerabilities
  plugins/nf-amazon/build.gradle
  plugins/nf-azure/build.gradle
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchService.groovy
  plugins/nf-google/build.gradle
Labels: security

#4897 Add support for Azure managed identity
  docs/azure.md
  docs/config.md
  plugins/nf-azure/build.gradle
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchExecutor.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchService.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchTaskHandler.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzHelper.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzActiveDirectoryOpts.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzConfig.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzManagedIdentityOpts.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzPoolOpts.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/file/AzPathFactory.groovy
  plugins/nf-azure/src/main/nextflow/cloud/azure/nio/AzFileSystemProvider.groovy
  plugins/nf-azure/src/test/nextflow/cloud/azure/batch/AzBatchServiceTest.groovy
Labels: storage/azure

#5070 Fix executions hangs on finalisation exception
  modules/nextflow/src/main/groovy/nextflow/processor/TaskPollingMonitor.groovy
Labels: backport/24.04.3

#5080 Bump Fusion 2.4
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionConfig.groovy
  modules/nextflow/src/test/groovy/nextflow/fusion/FusionConfigTest.groovy
  modules/nextflow/src/test/groovy/nextflow/script/FusionMetaTest.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/WaveClientTest.groovy
Labels: storage/fusion
