Repository nextflow-io/nextflow, pull requests merged in 2024-12, with the labels that each got.

#5587 Update jgit to 7.1.0
  modules/nextflow/build.gradle
  modules/nextflow/src/main/groovy/nextflow/scm/AssetManager.groovy
Labels: software/git

#5567 Fix Google Batch hang when internal error during scheduling
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchTaskHandler.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/client/BatchClient.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchTaskHandlerTest.groovy
Labels: executor/google-batch

#5397 Mitigate Interrupted system call on trace_file writes
  modules/nextflow/src/main/resources/nextflow/executor/command-trace.txt
  modules/nextflow/src/test/resources/nextflow/executor/test-bash-wrapper-with-trace.txt
Labels: software/bash

#5585 Fix docs for `csi` option in `pod` directive
  docs/reference/process.md
Labels: docs

#5569 Headless release (onescript)
  .github/scripts/deploy-plugins-to-github.sh
  .github/scripts/deploy-plugins-to-maven.sh
  .github/scripts/deploy-to-docker.sh
  .github/scripts/deploy-to-github.sh
  .github/scripts/deploy-to-maven.sh
  .github/scripts/deploy-to-s3.sh
  .github/scripts/publish-release.sh
  .github/scripts/release.sh
  .github/scripts/tag-release.sh
  .github/scripts/update-plugins-index.sh
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: github_actions

#5598 Fixes #5596
  docs/sharing.md
Labels: docs

#5607 Remove 'defaults' conda channel from docs.
  docs/conda.md
  modules/nextflow/src/test/groovy/nextflow/conda/CondaCacheTest.groovy
Labels: docs, software/conda

#5617 Add "script:" before bash script in 'your-first-script' snippet
  docs/snippets/your-first-script.nf
Labels: docs

#5615 Update syntax docs
  docs/vscode.md
Labels: docs

#5523 Document remote file staging
  docs/working-with-files.md
Labels: docs
