Repository nextflow-io/nextflow, pull requests merged in 2024-01, with the labels that each got.

#4627 Use AZURE_STORAGE_SAS_TOKEN environment variable
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzStorageOpts.groovy
Labels: storage/azure

#4638 Fix azure retry policy
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchService.groovy
Labels: executor/azure-batch, backport/23.10.1

#4675 Set scratch default to false when using Fusion
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionScriptLauncher.groovy
Labels: storage/fusion

#4612 Add support for custom fuse device plugin
  docs/config.md
  docs/kubernetes.md
  modules/nextflow/src/main/groovy/nextflow/k8s/K8sConfig.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/K8sTaskHandler.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sConfigTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sTaskHandlerTest.groovy
Labels: executor/k8s, storage/fusion
