Repository nextflow-io/nextflow, pull requests merged in 2024-03, with the labels that each got.

#4830 Nextflow launch script: improving search for JAVA_CMD
  nextflow
Labels: software/java

#4764 Improve getting started docs
  docs/conf.py
  docs/developer/index.md
  docs/developer/nextflow.ast.md
  docs/dsl1.md
  docs/getstarted.md
  docs/index.md
  docs/install.md
  docs/overview.md
  docs/plugins.md
  docs/your-first-script.md
Labels: docs

#4842 Docs sidebar: Show version
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/workflows/build.yml
  build.gradle
  docs/_static/theme.css
  docs/_templates/layout.html
  docs/conf.py
  docs/sync-doc.sh
Labels: docs

#4855 Update Platform API endpoint
  docs/cli.md
  docs/config.md
  docs/google.md
  docs/plugins.md
  modules/nextflow/src/main/groovy/nextflow/config/ConfigBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/config/ConfigBuilderTest.groovy
  plugins/nf-tower/src/main/io/seqera/tower/plugin/TowerClient.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/config/TowerConfig.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/config/TowerConfigTest.groovy
Labels: plugins
