Repository nextflow-io/nextflow, pull requests merged in 2024-10, with the labels that each got.

#5356 Add retry policy to google batch describe task
  plugins/nf-google/src/main/nextflow/cloud/google/batch/client/BatchClient.groovy
Labels: executor/google-batch

#5375 Identify default git branch when downloading pipelines (#3593)
  modules/nextflow/src/main/groovy/nextflow/config/Manifest.groovy
  modules/nextflow/src/main/groovy/nextflow/scm/AssetManager.groovy
  modules/nextflow/src/test/groovy/nextflow/cli/CmdInfoTest.groovy
  modules/nextflow/src/test/groovy/nextflow/scm/AssetManagerTest.groovy
  tests/checks/run.sh
Labels: software/git

#5384 Add support for Wave container status API
  modules/nextflow/src/main/groovy/nextflow/container/resolver/ContainerResolver.groovy
  modules/nextflow/src/main/groovy/nextflow/container/resolver/DefaultContainerResolver.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/Executor.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskHandler.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskPollingMonitor.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskRun.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/LocalPollingMonitorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/ParallelPollingMonitorTest.groovy
  plugins/nf-wave/build.gradle
  plugins/nf-wave/src/main/io/seqera/wave/plugin/SubmitContainerTokenRequest.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/SubmitContainerTokenResponse.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/WaveClient.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/config/WaveConfig.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/resolver/WaveContainerResolver.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/WaveClientTest.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/config/WaveConfigTest.groovy
Labels: software/wave

#5408 Fix closure rendering in yaml and json config
  modules/nextflow/src/main/groovy/nextflow/config/ConfigClosurePlaceholder.groovy
  modules/nextflow/src/main/groovy/nextflow/util/ConfigHelper.groovy
  modules/nextflow/src/test/groovy/nextflow/cli/CmdConfigTest.groovy
  modules/nextflow/src/test/groovy/nextflow/util/ConfigHelperTest.groovy
Labels: lang/config

#5322 Add `manifest.contributors` config option
  docs/reference/config.md
  modules/nextflow/src/main/groovy/nextflow/config/Manifest.groovy
  modules/nextflow/src/main/groovy/nextflow/scm/AssetManager.groovy
  modules/nextflow/src/test/groovy/nextflow/config/ManifestTest.groovy
Labels: lang/config

#5414 Remove invalid equals char
  modules/nextflow/src/main/groovy/nextflow/executor/AbstractGridExecutor.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/AbstractGridExecutorTest.groovy
Labels: executor/sge

#5416 Demote azure batch task status log level to trace
  plugins/nf-azure/src/main/nextflow/cloud/azure/batch/AzBatchTaskHandler.groovy
Labels: executor/azure-batch

#5419 Document `subscribe` as a teminal operator
  docs/reference/operator.md
Labels: docs

#5430 Fix test_docs issue
  docs/snippets/subscribe.out
Labels: docs

#4302 Add fallback command for micromamba
  modules/nextflow/src/main/groovy/nextflow/conda/CondaCache.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/BashWrapperBuilder.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskBean.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskRun.groovy
  modules/nextflow/src/test/groovy/nextflow/conda/CondaCacheTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/BashWrapperBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskBeanTest.groovy
Labels: software/conda

#5045 Target java17
  .github/workflows/build.yml
  build.gradle
  docs/install.md
  launch.sh
  modules/nextflow/build.gradle
  modules/nextflow/src/main/groovy/nextflow/scm/RepositoryProvider.groovy
  nextflow
  plugins/nf-azure/src/main/nextflow/cloud/azure/nio/AzFileSystem.groovy
Labels: software/java
