Repository nextflow-io/nextflow, pull requests merged in 2024-02, with the labels that each got.

#4705 Remove Glacier auto-retrieval
  docs/config.md
  plugins/nf-amazon/src/main/nextflow/cloud/aws/nio/S3Client.java
  plugins/nf-amazon/src/main/nextflow/cloud/aws/nio/S3FileSystemProvider.java
  plugins/nf-amazon/src/test/nextflow/cloud/aws/nio/AwsS3NioTest.groovy
Labels: storage/aws

#4700 Update documentation
  docs/cli.md
  docs/config.md
  docs/fusion.md
  docs/mail.md
  docs/process.md
  docs/sharing.md
  docs/tracing.md
Labels: docs

#4703 Improve handling of publish error
  modules/nextflow/src/main/groovy/nextflow/processor/PublishDir.groovy
Labels: error-improvements

#4727 Rename Tower -> Seqera Platform in docs and log messages
  docs/cli.md
  docs/config.md
  docs/developer/nextflow.trace.md
  docs/google.md
  docs/plugins.md
  docs/secrets.md
  docs/wave.md
  modules/nextflow/src/main/groovy/nextflow/cli/CmdRun.groovy
  plugins/nf-tower/src/main/io/seqera/tower/plugin/TowerClient.groovy
  plugins/nf-tower/src/main/io/seqera/tower/plugin/TowerFactory.groovy
  plugins/nf-tower/src/main/io/seqera/tower/plugin/TowerJsonGenerator.groovy
  plugins/nf-tower/src/main/io/seqera/tower/plugin/TowerPlugin.groovy
  plugins/nf-tower/src/main/io/seqera/tower/plugin/TowerReports.groovy
Labels: docs

#4434 Add k8s job ttlSecondsAfterFinished option
  docs/process.md
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodOptions.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodSpecBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodSpecBuilderTest.groovy
Labels: executor/k8s

#4608 Update support for local TES executor with GA4GH TES Plugin
  plugins/nf-ga4gh/src/main/nextflow/ga4gh/tes/executor/TesFileCopyStrategy.groovy
  plugins/nf-ga4gh/src/main/nextflow/ga4gh/tes/executor/TesTaskHandler.groovy
Labels: executor/ga4gh-tes

#4765 Remove duplicate channel topic docs
  docs/channel.md
Labels: docs
