Repository nextflow-io/nextflow, pull requests merged in 2024-05, with the labels that each got.

#4965 Fix collectFile saving to GCS with sort: false
  modules/nextflow/src/main/groovy/nextflow/file/SimpleFileCollector.groovy
Labels: storage/gcp

#4976 Update operator return types
  docs/operator.md
Labels: docs

#4975 Add account config option for grid executors
  docs/config.md
  modules/nextflow/src/main/groovy/nextflow/executor/LsfExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/PbsExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/PbsProExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/SlurmExecutor.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/LsfExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/PbsExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/PbsProExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/SlurmExecutorTest.groovy
Labels: executor/slurm

#4981 Fix missing include error message
  modules/nextflow/src/main/groovy/nextflow/exception/MissingModuleComponentException.groovy
Labels: error-improvements

#3892 Job arrays
  .github/workflows/build.yml
  docs/process.md
  modules/nextflow/src/main/groovy/nextflow/executor/BashWrapperBuilder.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/CrgExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/Executor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/GridTaskHandler.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/LsfExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/PbsExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/PbsProExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/SgeExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/SlurmExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/TaskArrayExecutor.groovy
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionHelper.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/ParallelPollingMonitor.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskArrayCollector.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskArrayRun.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskBean.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskConfig.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskHandler.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskPollingMonitor.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskProcessor.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskRun.groovy
  modules/nextflow/src/main/groovy/nextflow/script/ProcessConfig.groovy
  modules/nextflow/src/main/resources/nextflow/executor/command-run.txt
  modules/nextflow/src/test/groovy/nextflow/executor/BashTemplateEngineTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/BashWrapperBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/CrgExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/LsfExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/PbsExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/PbsProExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/SgeExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/SlurmExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/fusion/FusionHelperTest.groovy
  modules/nextflow/src/test/groovy/nextflow/fusion/FusionScriptLauncherTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sWrapperBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskArrayCollectorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskArrayExecutorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskArrayRunTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskPollingMonitorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskRunTest.groovy
  modules/nextflow/src/test/resources/nextflow/executor/test-bash-wrapper-with-trace.txt
  modules/nextflow/src/test/resources/nextflow/executor/test-bash-wrapper.txt
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsBatchExecutor.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsBatchTaskHandler.groovy
  plugins/nf-amazon/src/test/nextflow/cloud/aws/batch/AwsBatchTaskHandlerTest.groovy
  plugins/nf-amazon/src/test/nextflow/executor/AwsBatchExecutorTest.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchExecutor.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchScriptLauncher.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchTaskHandler.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/client/BatchClient.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/logging/BatchLogging.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchExecutorTest.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchTaskHandlerTest.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/logging/BatchLoggingTest.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/lifesciences/bash-wrapper-gcp.txt
  validation/awsbatch.sh
  validation/google.sh
Labels: executor/lsf, executor/sge, executor/aws-batch, executor/slurm, executor/pbs, executor/pbspro, executor/google-batch

#4984 Fix job array docs
  docs/process.md
Labels: docs

#3027 Add `k8s.cpuLimits` config option
  docs/config.md
  modules/nextflow/src/main/groovy/nextflow/k8s/K8sConfig.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/K8sTaskHandler.groovy
  modules/nextflow/src/main/groovy/nextflow/k8s/model/PodSpecBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/K8sTaskHandlerTest.groovy
  modules/nextflow/src/test/groovy/nextflow/k8s/model/PodSpecBuilderTest.groovy
Labels: executor/k8s

#5004 Remove Fusion symlink resolution
  modules/nextflow/src/main/groovy/nextflow/processor/PublishDir.groovy
  plugins/nf-amazon/src/test/nextflow/processor/PublishDirS3Test.groovy
  tests/checks/fusion-symlink.nf/.config
Labels: storage/fusion

#5011 Document `enabled` option in the output definition
  docs/workflow.md
Labels: docs

#5020 Fix the invocation of function with gstring
  modules/nextflow/src/main/groovy/nextflow/script/FunctionDef.groovy
  modules/nextflow/src/test/groovy/nextflow/script/ScriptIncludesTest.groovy
Labels: backport/24.04.2

#5014 Fix security vulnerabilities
  .github/workflows/build.yml
  docker/Dockerfile
  modules/nextflow/build.gradle
  modules/nf-commons/build.gradle
  modules/nf-commons/src/main/nextflow/plugin/CustomPluginManager.groovy
  modules/nf-commons/src/testFixtures/groovy/nextflow/plugin/TestPluginDescriptorFinder.groovy
  modules/nf-httpfs/build.gradle
  modules/nf-httpfs/src/test/nextflow/file/http/HttpFilesTests.groovy
  packing.gradle
  plugins/nf-amazon/build.gradle
  plugins/nf-azure/build.gradle
  plugins/nf-cloudcache/build.gradle
  plugins/nf-codecommit/build.gradle
  plugins/nf-console/build.gradle
  plugins/nf-ga4gh/build.gradle
  plugins/nf-google/build.gradle
  plugins/nf-google/src/main/nextflow/cloud/google/batch/logging/BatchLogging.groovy
  plugins/nf-tower/build.gradle
  plugins/nf-wave/build.gradle
  validation/google.sh
Labels: security, backport/23.10.2

#5032 Update docs on version matching
  docs/metadata.md
Labels: docs

#5031 Fix handling of tags with slash on Bitbucket
  modules/nextflow/src/main/groovy/nextflow/scm/BitbucketRepositoryProvider.groovy
  modules/nextflow/src/test/groovy/nextflow/scm/BitbucketRepositoryProviderTest.groovy
Labels: software/git
