Repository nextflow-io/nextflow, pull requests merged in 2025-04, with the labels that each got.

#5903 Fix date format in Wave containers meta
  modules/nextflow/src/main/groovy/nextflow/container/resolver/ContainerMeta.groovy
  plugins/nf-tower/build.gradle
  plugins/nf-tower/src/main/io/seqera/tower/plugin/TowerJsonGenerator.groovy
  plugins/nf-tower/src/test/io/seqera/tower/plugin/TowerJsonGeneratorTest.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/WaveClient.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/WaveClientTest.groovy
Labels: software/wave

#5946 Add section about include addParams to syntax guide
  docs/module.md
  docs/updating-syntax.md
Labels: docs

#5954 Add support for Fusion Snapshots
  docs/reference/config.md
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionConfig.groovy
  modules/nextflow/src/test/groovy/nextflow/fusion/FusionConfigTest.groovy
  modules/nf-lang/src/main/java/nextflow/config/scopes/FusionConfig.java
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsBatchTaskHandler.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsOptions.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/config/AwsBatchConfig.groovy
  plugins/nf-amazon/src/test/nextflow/cloud/aws/batch/AwsBatchTaskHandlerTest.groovy
  plugins/nf-amazon/src/test/nextflow/cloud/aws/config/AwsBatchConfigTest.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/WaveClient.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/WaveClientTest.groovy
Labels: storage/fusion

#5936 Manage AWS Batch Unscheduled jobs
  docs/reference/config.md
  modules/nf-lang/src/main/java/nextflow/config/scopes/AwsBatchConfig.java
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsBatchTaskHandler.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/batch/AwsOptions.groovy
  plugins/nf-amazon/src/main/nextflow/cloud/aws/config/AwsBatchConfig.groovy
  plugins/nf-amazon/src/test/nextflow/cloud/aws/config/AwsBatchConfigTest.groovy
Labels: executor/aws-batch

#5972 Update shell block deprecation notice
  docs/process.md
  docs/updating-syntax.md
Labels: docs

#5974 Document process/workflow recursion
  docs/reference/feature-flags.md
  docs/snippets/recurse-process.nf
  docs/snippets/recurse-process.out
  docs/snippets/recurse-workflow.in
  docs/snippets/recurse-workflow.nf
  docs/snippets/recurse-workflow.out
  docs/workflow.md
Labels: docs

#5979 Fix recursion snippets in workflow docs
  docs/workflow.md
Labels: docs

#5975 Document release notes
  docs/aws.md
  docs/conf.py
  docs/executor.md
  docs/index.md
  docs/install.md
  docs/migrations/24-04.md
  docs/migrations/24-10.md
  docs/migrations/25-04.md
  docs/migrations/dsl1.md
  docs/migrations/index.md
  docs/process.md
  docs/reference/cli.md
  docs/reference/env-vars.md
  docs/secrets.md
  docs/strict-syntax.md
  docs/updating-nextflow.md
  docs/updating-spot-retries.md
  docs/vscode.md
  docs/workflow.md
Labels: docs

#5991 Add Google Batch gcsfuseOptions
  docs/reference/config.md
  modules/nf-lang/src/main/java/nextflow/config/scopes/GoogleBatchConfig.java
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchScriptLauncher.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/client/BatchConfig.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchScriptLauncherTest.groovy
Labels: executor/google-batch

#5951 Add network tags support for Google Batch
  docs/reference/config.md
  modules/nf-lang/src/main/java/nextflow/config/scopes/GoogleBatchConfig.java
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchTaskHandler.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/client/BatchConfig.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchTaskHandlerTest.groovy
Labels: executor/google-batch

#5999 Data lineage documentation
  docs/reference/cli.md
  docs/reference/config.md
  modules/nf-lang/src/main/java/nextflow/config/scopes/Config.java
  modules/nf-lang/src/main/java/nextflow/config/scopes/LineageConfig.java
  modules/nf-lineage/src/main/nextflow/lineage/model/FileOutput.groovy
  modules/nf-lineage/src/main/nextflow/lineage/model/TaskOutput.groovy
  modules/nf-lineage/src/main/nextflow/lineage/model/TaskRun.groovy
  modules/nf-lineage/src/main/nextflow/lineage/model/WorkflowOutput.groovy
  modules/nf-lineage/src/main/nextflow/lineage/model/WorkflowRun.groovy
Labels: docs

#6018 Separate language and runtime reference docs
  docs/index.md
  docs/reference/syntax.md
Labels: docs
