Repository nextflow-io/nextflow, pull requests merged in 2025-02, with the labels that each got.

#5740 Move developer environment page
  docs/developer-env.md
  docs/index.md
  docs/your-first-script.md
Labels: docs

#5739 Mount input file buckets in task arrays for Google Batch
  modules/nextflow/src/main/groovy/nextflow/processor/TaskBean.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchScriptLauncher.groovy
  validation/google.config
  validation/google.sh
  validation/test-arrays.nf
Labels: executor/google-batch

#5492 Update lib docs
  docs/sharing.md
Labels: docs

#5743 Remove tip about shell block
  docs/process.md
Labels: docs

#5757 Improve documentation of CLI options for specifying config files
  docs/reference/cli.md
Labels: docs

#5755 Document examples of directives with only named args
  docs/process.md
  docs/reference/syntax.md
Labels: docs

#5754 Document null-filtering behavior of `map` operator
  docs/reference/operator.md
Labels: docs

#5746 Fix docs for `executor.submit.retry.reason` config option
  docs/reference/config.md
Labels: docs

#5753 Fix documentation of process `path` input
  docs/reference/process.md
Labels: docs

#5614 [FSN-13] feat(nf-tower): Retrieve and set Fusion license tokens in a process environment
  modules/nextflow/src/main/groovy/nextflow/exception/ReportWarningException.groovy
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionConfig.groovy
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionEnvProvider.groovy
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionToken.groovy
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionTokenDefault.groovy
  modules/nextflow/src/main/groovy/nextflow/platform/PlatformHelper.groovy
  modules/nextflow/src/main/resources/META-INF/extensions.idx
  modules/nf-commons/src/main/nextflow/util/GsonHelper.groovy
  modules/nf-commons/src/main/nextflow/util/GsonInstantAdapter.groovy
  modules/nf-commons/src/test/nextflow/util/GsonHelperTest.groovy
  plugins/nf-tower/build.gradle
  plugins/nf-tower/src/main/io/seqera/tower/plugin/TowerFactory.groovy
  plugins/nf-tower/src/main/io/seqera/tower/plugin/TowerFusionToken.groovy
  plugins/nf-tower/src/main/io/seqera/tower/plugin/exception/BadResponseException.groovy
  plugins/nf-tower/src/main/io/seqera/tower/plugin/exception/UnauthorizedException.groovy
  plugins/nf-tower/src/main/io/seqera/tower/plugin/exchange/GetLicenseTokenRequest.groovy
  plugins/nf-tower/src/main/io/seqera/tower/plugin/exchange/GetLicenseTokenResponse.groovy
  plugins/nf-tower/src/resources/META-INF/extensions.idx
  plugins/nf-tower/src/resources/META-INF/services/nextflow.trace.TraceObserverFactory
  plugins/nf-tower/src/test/io/seqera/tower/plugin/TowerFactoryTest.groovy
  plugins/nf-tower/src/test/io/seqera/tower/plugin/TowerFusionEnvTest.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/config/TowerConfig.groovy
Labels: storage/fusion

#5749 Improve documentation of task hash
  docs/cache-and-resume.md
Labels: docs

#5742 Disable cleanup on remote work dir
  docs/reference/config.md
  modules/nextflow/src/main/groovy/nextflow/Session.groovy
Labels: docs

#5502 Fix bugs with workflow outputs
  docs/workflow.md
  modules/nextflow/src/main/groovy/nextflow/ast/NextflowDSLImpl.groovy
  modules/nextflow/src/main/groovy/nextflow/config/ConfigBuilder.groovy
  modules/nextflow/src/main/groovy/nextflow/extension/PublishOp.groovy
  modules/nextflow/src/main/groovy/nextflow/script/BaseScript.groovy
  modules/nextflow/src/main/groovy/nextflow/script/OutputDef.groovy
  modules/nextflow/src/main/groovy/nextflow/script/OutputDsl.groovy
  modules/nextflow/src/main/groovy/nextflow/util/CsvWriter.groovy
  modules/nextflow/src/test/groovy/nextflow/config/ConfigBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/script/BaseScriptTest.groovy
  modules/nextflow/src/test/groovy/nextflow/script/OutputDslTest.groovy
  modules/nextflow/src/test/groovy/nextflow/script/params/ParamsDsl2Test.groovy
  plugins/nf-amazon/src/test/nextflow/extension/PublishOpS3Test.groovy
  tests/checks/output-dsl.nf/.checks
  tests/output-dsl.nf
Labels: backport/24.10.5

#5690 Add Google Batch NOT_FOUND error management
  modules/nextflow/src/main/groovy/nextflow/exception/ProcessStageException.groovy
  modules/nextflow/src/main/groovy/nextflow/file/FilePorter.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskArrayCollector.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskHandler.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskProcessor.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskArrayCollectorTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskHandlerTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskProcessorTest.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchTaskHandler.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/client/BatchClient.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchTaskHandlerTest.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/client/BatchClientTest.groovy
Labels: executor/google-batch

#5731 Update Fusion documentation
  docs/fusion.md
  docs/google.md
  docs/kubernetes.md
  docs/reference/config.md
  docs/wave.md
Labels: docs

#5406 In Google Batch, install GPU drivers for GPU VMs
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchMachineTypeSelector.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchTaskHandler.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchMachineTypeSelectorTest.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchTaskHandlerTest.groovy
Labels: executor/google-batch, planned

#5758 Document dynamic directive syntax with named arguments
  docs/process.md
Labels: docs

#5687 Create updates section
  docs/developer/plugins.md
  docs/dsl1.md
  docs/index.md
  docs/install.md
  docs/reference/syntax.md
  docs/sharing.md
  docs/updating-nextflow.md
  docs/updating-syntax.md
  docs/vscode.md
Labels: docs

#5796 Document how to run integration tests locally
  docs/developer/index.md
Labels: docs

#4545 Add example of dynamic directive with input file
  docs/process.md
Labels: docs, lang/processes

#5804 Bump ubuntu 22.04 as default SKU for Azure Batch
  docs/azure.md
  plugins/nf-azure/src/main/nextflow/cloud/azure/config/AzPoolOpts.groovy
  plugins/nf-azure/src/test/nextflow/cloud/azure/batch/AzBatchServiceTest.groovy
  plugins/nf-azure/src/test/nextflow/cloud/azure/config/AzureConfigTest.groovy
  validation/azure.config
Labels: executor/azure-batch

#5802 Document azcopy config options
  docs/reference/config.md
Labels: docs, storage/azure

#5828 Fix Google Batch autoRetryExitCodes bug
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchTaskHandler.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchTaskHandlerTest.groovy
Labels: executor/google-batch
