Repository nextflow-io/nextflow, pull requests merged in 2025-07, with the labels that each got.

#6190 Add git response max length
  modules/nextflow/src/main/groovy/nextflow/exception/HttpResponseLengthExceedException.groovy
  modules/nextflow/src/main/groovy/nextflow/scm/RepositoryProvider.groovy
  modules/nextflow/src/test/groovy/nextflow/scm/RepositoryProviderTest.groovy
  modules/nf-commons/src/main/nextflow/SysEnv.groovy
  modules/nf-commons/src/test/nextflow/SysEnvTest.groovy
Labels: software/git

#6162 Migration guide for workflow outputs
  docs/index.md
  docs/migrations/24-04.md
  docs/migrations/25-04.md
  docs/tutorials/data-lineage.md
  docs/tutorials/flux.md
  docs/tutorials/metrics.md
  docs/tutorials/workflow-outputs.md
  docs/workflow.md
Labels: docs

#6269 Update AWS Java SDK v2 guide
  docs/guides/aws-java-sdk-v2.md
Labels: docs

#6266 Fix silent failure when downloading a directory with AWS SDK v2
  plugins/nf-amazon/src/main/nextflow/cloud/aws/nio/S3Client.java
Labels: storage/aws

#6276 Fix explicit `it` closure parameter
  modules/nextflow/src/test/groovy/nextflow/script/parser/v2/ScriptLoaderV2Test.groovy
  modules/nf-lang/src/main/java/nextflow/config/control/ConfigToGroovyVisitor.java
  modules/nf-lang/src/main/java/nextflow/config/control/VariableScopeVisitor.java
  modules/nf-lang/src/main/java/nextflow/config/parser/ConfigAstBuilder.java
  modules/nf-lang/src/main/java/nextflow/script/ast/ImplicitClosureParameter.java
  modules/nf-lang/src/main/java/nextflow/script/control/ScriptToGroovyVisitor.java
  modules/nf-lang/src/main/java/nextflow/script/control/VariableScopeVisitor.java
  modules/nf-lang/src/main/java/nextflow/script/parser/ScriptAstBuilder.java
Labels: bug

#6299 Revise the revisions to cache/resume docs
  docs/cache-and-resume.md
Labels: docs

#6310 Fusion: link to licensing docs, not "Contact Us" page.
  docs/fusion.md
Labels: docs

#5517 Fix hash when CmdEvalParam as output
  modules/nextflow/src/main/groovy/nextflow/processor/TaskProcessor.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskProcessorTest.groovy
Labels: cache-breaking
