Repository nextflow-io/nextflow, pull requests merged in 2025-05, with the labels that each got.

#6023 Document default values for `aws.client` config settings
  docs/reference/config.md
Labels: docs

#6049 Add allowed plugins list
  docs/reference/env-vars.md
  modules/nf-commons/src/main/nextflow/plugin/PluginsFacade.groovy
  modules/nf-commons/src/test/nextflow/plugin/PluginsFacadeTest.groovy
Labels: plugins

#5887 Support prefetching plugins metadata from an http api
  modules/nf-commons/build.gradle
  modules/nf-commons/src/main/nextflow/plugin/HttpPluginRepository.groovy
  modules/nf-commons/src/main/nextflow/plugin/PluginUpdater.groovy
  modules/nf-commons/src/main/nextflow/plugin/Plugins.groovy
  modules/nf-commons/src/main/nextflow/plugin/PluginsFacade.groovy
  modules/nf-commons/src/main/nextflow/plugin/PrefetchUpdateRepository.groovy
  modules/nf-commons/src/test/nextflow/plugin/HttpPluginRepositoryTest.groovy
  modules/nf-commons/src/test/nextflow/plugin/PluginsFacadeTest.groovy
Labels: plugins, backport/24.10.7

#6050 DOC: Fix selector expression documentation
  docs/config.md
Labels: docs

#6059 Refactor deprecations as best practices
  docs/process.md
  docs/strict-syntax.md
Labels: docs

#6044 Improve data lineage docs
  docs/cache-and-resume.md
  docs/data-lineage.md
  docs/index.md
  docs/migrations/25-04.md
  docs/reference/cli.md
  plugins/nf-google/src/main/nextflow/cloud/google/batch/logging/BatchLogging.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/logging/BatchLoggingTest.groovy
Labels: docs

#6063 Finalize 25.04 migration notes
  docs/migrations/25-04.md
Labels: docs

#6060 Document required `NXF_EDGE=0` when updating from edge to stable
  docs/updating-nextflow.md
Labels: docs

#6057 Add support for ARM and Snapshots
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionConfig.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/WaveClient.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/WaveClientTest.groovy
Labels: storage/fusion

#6010 Remove obsolete conda create --mkdir option
  modules/nextflow/src/main/groovy/nextflow/conda/CondaCache.groovy
  modules/nextflow/src/test/groovy/nextflow/conda/CondaCacheTest.groovy
Labels: software/conda

#6066 Improve data lineage guide
  docs/data-lineage.md
Labels: docs

#6089 Add secrets to cli and process reference
  docs/process.md
  docs/reference/cli.md
  docs/reference/process.md
Labels: docs

#6070 Sunset the Google LS executor
  docs/executor.md
  docs/google.md
  docs/reference/config.md
  docs/reference/process.md
  plugins/nf-google/build.gradle
  plugins/nf-google/src/main/nextflow/cloud/google/GoogleOpts.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/lifesciences/GoogleLifeSciencesConfig.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/lifesciences/GoogleLifeSciencesExecutor.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/lifesciences/GoogleLifeSciencesFileCopyStrategy.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/lifesciences/GoogleLifeSciencesHelper.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/lifesciences/GoogleLifeSciencesScriptLauncher.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/lifesciences/GoogleLifeSciencesSubmitRequest.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/lifesciences/GoogleLifeSciencesTaskHandler.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/util/GsBashLib.groovy
  plugins/nf-google/src/main/nextflow/cloud/google/util/GsPathFactory.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/lifesciences/GoogleLifeSciencesConfigTest.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/lifesciences/GoogleLifeSciencesExecutorTest.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/lifesciences/GoogleLifeSciencesFileCopyStrategyTest.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/lifesciences/GoogleLifeSciencesHelperTest.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/lifesciences/GoogleLifeSciencesScriptLauncherTest.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/lifesciences/GoogleLifeSciencesTaskHandlerTest.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/lifesciences/bash-wrapper-gcp.txt
  plugins/nf-google/src/test/nextflow/cloud/google/util/GsBashLibTest.groovy
  validation/gls.config
  validation/google.sh
Labels: executor/google-lifesciences

#5892 Add Conda install to install page
  docs/install.md
Labels: docs

#6124 Fix code block
  docs/cli.md
Labels: docs

#6130 Document config default values
  docs/reference/config.md
Labels: docs

#6136 Fix documentation of Map `in` operator
  docs/reference/stdlib-types.md
Labels: docs

#6138 Make RepositoryProvider readBytes public
  modules/nextflow/src/main/groovy/nextflow/scm/LocalRepositoryProvider.groovy
  modules/nextflow/src/main/groovy/nextflow/scm/RepositoryProvider.groovy
  plugins/nf-codecommit/src/main/nextflow/cloud/aws/codecommit/AwsCodeCommitRepositoryProvider.groovy
Labels: software/git
