Repository nextflow-io/nextflow, pull requests merged in 2025-01, with the labels that each got.

#5645 Document differences between `join` operator and SQL join
  docs/reference/operator.md
Labels: docs, lang/operators

#5650 Handle attribute caching with Lustre filesystem
  modules/nextflow/src/main/groovy/nextflow/executor/GridTaskHandler.groovy
  modules/nf-commons/src/main/nextflow/file/FileHelper.groovy
Labels: executor/slurm

#5486 Development environment guide
  docs/conf.py
  docs/developer-env.md
  docs/index.md
  docs/requirements.txt
Labels: docs

#5663 Add copy button selector
  docs/conf.py
  docs/install.md
  docs/requirements.txt
Labels: docs

#5668 Clarify role of NXF_HOME in config
  docs/config.md
Labels: docs

#5672 Add fusion tip about AWS storage config
  docs/fusion.md
Labels: docs

#5667 Fix azure repos when clone URL is used
  modules/nextflow/src/main/groovy/nextflow/scm/AzureRepositoryProvider.groovy
  modules/nextflow/src/main/groovy/nextflow/scm/ProviderConfig.groovy
  modules/nextflow/src/test/groovy/nextflow/scm/AzureRepositoryProviderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/scm/ProviderConfigTest.groovy
Labels: software/git, backport/24.10.4

#5664 Update your first script
  docs/your-first-script.md
Labels: docs

#4292 Use shell directive with trace command in wrapper script
  modules/nextflow/src/main/groovy/nextflow/executor/BashWrapperBuilder.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/BashWrapperBuilderTest.groovy
Labels: software/bash

#5661 Fix CLI params normalization
  modules/nextflow/src/main/groovy/nextflow/cli/CmdRun.groovy
  modules/nextflow/src/test/groovy/nextflow/cli/CmdRunTest.groovy
Labels: backport/24.10.4

#5651 Improve storeDir docs
  docs/reference/process.md
Labels: docs

#5643 allows parameters when run a plugin subcommand
  modules/nextflow/src/main/groovy/nextflow/cli/CmdPlugin.groovy
Labels: plugins

#5649 Warning messages when Cloudinfo fails in Google Batch machine type selection
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchTaskHandler.groovy
Labels: executor/google-batch

#5597 Fix `env` output with quotes
  modules/nextflow/src/main/groovy/nextflow/script/params/EnvOutParam.groovy
  modules/nextflow/src/test/groovy/nextflow/script/params/EnvOutParamTest.groovy
Labels: backport/23.10.x

#5675 Add section for Seqera Platform into installation docs
  docs/install.md
Labels: docs

#5524 Bump Fusion to version 2.5
  modules/nextflow/src/main/groovy/nextflow/fusion/FusionConfig.groovy
  modules/nextflow/src/test/groovy/nextflow/fusion/FusionConfigTest.groovy
  modules/nextflow/src/test/groovy/nextflow/script/FusionMetaTest.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/WaveClientTest.groovy
Labels: storage/fusion

#5676 Configure target java version alongside gradle toolchain
  build.gradle
Labels: software/java

#5699 Improve developer docs for local builds
  docs/developer/index.md
Labels: docs

#5704 Fix Conda directive is not honoured by task array
  docs/reference/process.md
  modules/nextflow/src/main/groovy/nextflow/processor/TaskArrayCollector.groovy
Labels: backport/24.10.5
