Repository nextflow-io/nextflow, pull requests merged in 2025-09, with the labels that each got.

#6033 docs: Update plugins documentation
  docs/developer/plugins.md
  docs/guides/gradle-plugin.md
  docs/guides/migrate-plugin.md
  docs/guides/plugin-registry.md
  docs/index.md
  docs/migrations/25-04.md
  docs/migrations/25-10.md
  docs/migrations/index.md
  docs/plugins.md
  docs/plugins/developing-plugins.md
  docs/plugins/plugin-registry.md
  docs/plugins/plugins.md
  docs/plugins/using-plugins.md
  docs/reference/cli.md
  docs/reference/env-vars.md
  docs/reference/stdlib-groovy.md
  docs/strict-syntax.md
Labels: docs, plugins

#6359 Fix false warning for map config options
  modules/nextflow/src/main/groovy/nextflow/config/ConfigValidator.groovy
  modules/nextflow/src/test/groovy/nextflow/config/ConfigValidatorTest.groovy
Labels: lang/config

#6376 Bump jgit:7.1.1.202505221757-r
  modules/nextflow/build.gradle
  plugins/nf-amazon/build.gradle
  plugins/nf-azure/build.gradle
Labels: security

#6349 Simplify plugin download implementation
  modules/nf-commons/src/main/nextflow/plugin/HttpPluginRepository.groovy
  modules/nf-commons/src/main/nextflow/plugin/OciAwareFileDownloader.groovy
  modules/nf-commons/src/main/nextflow/plugin/PluginUpdater.groovy
  modules/nf-commons/src/test/nextflow/plugin/OciAwareFileDownloaderTest.groovy
  modules/nf-commons/src/test/nextflow/plugin/PluginUpdaterTest.groovy
Labels: plugins

#6351 Replace custom retry strategy with HxClient in RepositoryProvider
  modules/nextflow/src/main/groovy/nextflow/scm/RepositoryProvider.groovy
  modules/nextflow/src/test/groovy/nextflow/scm/RepositoryProviderTest.groovy
Labels: software/git

#6370 Clarify fusion.exportStorageCredentials behavior [ci skip]
  docs/reference/config.md
Labels: docs, storage/fusion

#6386 docs: Fix link error
  docs/guides/gradle-plugin.md
  docs/guides/plugin-registry.md
  docs/index.md
  docs/migrations/25-10.md
  docs/plugins/plugin-registry.md
  docs/reference/config.md
Labels: docs

#6249 Fix plugin secrets in config
  docs/cli.md
  docs/config.md
  docs/developer/index.md
  docs/secrets.md
  modules/nextflow/src/main/groovy/nextflow/cli/CmdRun.groovy
  modules/nextflow/src/main/groovy/nextflow/config/ConfigBuilder.groovy
  modules/nextflow/src/main/groovy/nextflow/secret/EmptySecretProvider.groovy
  modules/nextflow/src/main/groovy/nextflow/secret/SecretsLoader.groovy
  modules/nextflow/src/main/groovy/nextflow/trace/TraceObserverFactoryV2.groovy
  modules/nextflow/src/test/groovy/nextflow/config/ConfigBuilderTest.groovy
  tests/checks/config-secrets.nf/.checks
  tests/config-secrets.config
  tests/config-secrets.nf
Labels: docs, lang/config, secrets

#6400 Fix groupTuple operator GString vs String key handling
  modules/nextflow/src/main/groovy/nextflow/extension/GroupTupleOp.groovy
  modules/nextflow/src/test/groovy/nextflow/extension/GroupTupleOpTest.groovy
Labels: bug
