Repository nextflow-io/nextflow, pull requests merged in 2025-03, with the labels that each got.

#5820 docs: Explain Nextflow version numbers
  docs/updating-nextflow.md
Labels: docs

#5842 Improve docs for process path input/output arity
  docs/process.md
Labels: docs

#5841 Document plugin filesystems
  docs/developer/plugins.md
  docs/working-with-files.md
Labels: docs

#5840 Consider AWS china as custom endpoint
  plugins/nf-amazon/src/main/nextflow/cloud/aws/config/AwsS3Config.groovy
  plugins/nf-amazon/src/test/nextflow/cloud/aws/config/AwsS3ConfigTest.groovy
Labels: storage/aws

#5847 Add container platform to docker command
  modules/nextflow/src/main/groovy/nextflow/container/ContainerBuilder.groovy
  modules/nextflow/src/main/groovy/nextflow/container/DockerBuilder.groovy
  modules/nextflow/src/main/groovy/nextflow/container/PodmanBuilder.groovy
  modules/nextflow/src/main/groovy/nextflow/container/resolver/ContainerResolver.groovy
  modules/nextflow/src/main/groovy/nextflow/container/resolver/ContainerResolverProvider.groovy
  modules/nextflow/src/main/groovy/nextflow/container/resolver/DefaultContainerResolver.groovy
  modules/nextflow/src/main/groovy/nextflow/executor/BashWrapperBuilder.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskBean.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/TaskRun.groovy
  modules/nextflow/src/test/groovy/nextflow/container/DockerBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/container/PodmanBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/executor/BashWrapperBuilderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskConfigTest.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/TaskRunTest.groovy
  modules/nf-commons/src/main/nextflow/util/SysHelper.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/WaveClient.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/WaveFactory.groovy
  plugins/nf-wave/src/main/io/seqera/wave/plugin/resolver/WaveContainerResolver.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/WaveClientTest.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/WaveFactoryTest.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/resolver/WaveContainerResolverTest.groovy
  plugins/nf-wave/src/test/nextflow/processor/TaskRunTest2.groovy
Labels: software/docker

#5859 Fix Fusion symlink test
  tests/checks/fusion-symlink.nf/.checks
  tests/checks/publish-s3-kms.nf/.checks
  tests/fusion-symlink.nf
  tests/publish-s3-kms.nf
Labels: storage/aws, storage/fusion

#5435 Use semver to pin only major/minor plugin versions
  docs/developer/plugins.md
  docs/plugins.md
  modules/nf-commons/src/main/nextflow/plugin/LocalUpdateRepository.groovy
  modules/nf-commons/src/main/nextflow/plugin/PluginUpdater.groovy
  modules/nf-commons/src/main/nextflow/plugin/PluginsFacade.groovy
  modules/nf-commons/src/test/nextflow/plugin/PluginUpdaterTest.groovy
Labels: plugins

#5853 Update metrics tutorial
  docs/metrics.md
Labels: docs

#5869 Update index page
  docs/index.md
Labels: docs

#5872 [EDU-618] Document Spot retry strategy
  docs/index.md
  docs/updating-spot-retries.md
Labels: docs

#5880 Improve operator summary
  docs/channel.md
Labels: docs

#5881 Replace screenshot in reports
  docs/_static/.DS_Store
  docs/_static/report-resource-cpu-noheader.png
  docs/_static/report-resource-cpu.png
  docs/_static/report-resources-min.png
  docs/_static/report-summary-min.png
  docs/_static/report-tasks-min.png
  docs/metrics.md
Labels: docs

#5883 [EDU-631] Fix spot instances
  docs/google.md
  docs/reference/config.md
  docs/updating-spot-retries.md
Labels: docs

#5431 Document standard library types
  docs/config.md
  docs/reference/stdlib.md
  docs/reference/syntax.md
  docs/script.md
Labels: docs

#5816 Config schema checking
  docs/developer/plugins.md
  modules/nextflow/src/main/groovy/nextflow/NF.groovy
  modules/nextflow/src/main/groovy/nextflow/cli/CmdConfig.groovy
  modules/nextflow/src/main/groovy/nextflow/cli/CmdRun.groovy
  modules/nextflow/src/main/groovy/nextflow/config/ConfigParserFactory.groovy
  modules/nextflow/src/main/groovy/nextflow/config/ConfigValidator.groovy
  modules/nextflow/src/main/groovy/nextflow/script/ScriptLoaderFactory.groovy
  modules/nextflow/src/test/groovy/nextflow/cli/CmdRunTest.groovy
  modules/nextflow/src/test/groovy/nextflow/config/ConfigValidatorTest.groovy
  tests/checks/profiles.nf/.expected_profile_advanced.txt
  tests/checks/profiles.nf/.expected_profile_all.txt
  tests/checks/profiles.nf/.expected_profile_standard.txt
  tests/delta.config
  tests/profiles.config
Labels: lang/config

#5901 Docs: Specify that `NXF_SYNTAX_PARSER` is an environment variable.
  docs/updating-syntax.md
Labels: docs
