Repository nextflow-io/nextflow, pull requests merged in 2025-06, with the labels that each got.

#6156 Replace foo/bar with better names in docs
  docs/cache-and-resume.md
  docs/channel.md
  docs/cli.md
  docs/conda.md
  docs/config.md
  docs/container.md
  docs/developer/nextflow.ast.md
  docs/developer/plugins.md
  docs/git.md
  docs/google.md
  docs/metrics.md
  docs/migrations/24-04.md
  docs/migrations/dsl1.md
  docs/module.md
  docs/overview.md
  docs/process.md
  docs/reference/channel.md
  docs/reference/cli.md
  docs/reference/env-vars.md
  docs/reference/operator.md
  docs/reference/process.md
  docs/reference/stdlib-types.md
  docs/reference/syntax.md
  docs/reports.md
  docs/script.md
  docs/secrets.md
  docs/sharing.md
  docs/snippets/branch-with-mapper.nf
  docs/snippets/branch-with-mapper.out
  docs/snippets/dump.nf
  docs/snippets/multimap-shared.nf
  docs/snippets/multimap-shared.out
  docs/snippets/multimap.nf
  docs/snippets/multimap.out
  docs/snippets/process-out-env.nf
  docs/snippets/process-out-eval.nf
  docs/snippets/process-stdout.nf
  docs/snippets/your-first-script.nf
  docs/spack.md
  docs/strict-syntax.md
  docs/vscode.md
  docs/wave.md
  docs/workflow.md
  docs/your-first-script.md
Labels: docs

#6191 Document `bucketDir` config option
  docs/reference/config.md
  modules/nextflow/src/main/groovy/nextflow/config/ConfigValidator.groovy
  modules/nf-lang/src/main/java/nextflow/config/scopes/Config.java
Labels: docs, backport/25.04, backport/25.04.5

#6117 Created GHA workflow for sca scan
  .github/actions/security-scan-branch/action.yml
  .github/workflows/security-sca-scan-cron.yml
  .github/workflows/security-sca-scan-master.yml
Labels: security

#6195 Implement retry strategy for Git repository provider
  docs/reference/config.md
  docs/reference/env-vars.md
  modules/nextflow/src/main/groovy/nextflow/processor/PublishDir.groovy
  modules/nextflow/src/main/groovy/nextflow/processor/PublishRetryConfig.groovy
  modules/nextflow/src/main/groovy/nextflow/scm/AzureRepositoryProvider.groovy
  modules/nextflow/src/main/groovy/nextflow/scm/RepositoryProvider.groovy
  modules/nextflow/src/main/groovy/nextflow/util/ConfigHelper.groovy
  modules/nextflow/src/main/groovy/nextflow/util/RetryConfig.groovy
  modules/nextflow/src/test/groovy/nextflow/processor/PublishRetryConfigTest.groovy
  modules/nextflow/src/test/groovy/nextflow/scm/RepositoryProviderTest.groovy
  modules/nextflow/src/test/groovy/nextflow/util/ConfigHelperTest.groovy
  modules/nextflow/src/test/groovy/nextflow/util/RetryConfigTest.groovy
Labels: software/git

#6202 Fix null reference error in lint command
  modules/nextflow/src/main/groovy/nextflow/cli/CmdLint.groovy
Labels: backport/25.04, backport/25.04.5

#6203 Fix false error on nested closure in config process directive
  modules/nf-lang/src/main/java/nextflow/config/control/VariableScopeVisitor.java
  modules/nf-lang/src/test/groovy/nextflow/config/control/ConfigResolveTest.groovy
Labels: backport/25.04, backport/25.04.5

#6222 Updated wave.retryPolicy default values
  docs/reference/config.md
  plugins/nf-wave/src/main/io/seqera/wave/plugin/config/RetryOpts.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/config/RetryOptsTest.groovy
  plugins/nf-wave/src/test/io/seqera/wave/plugin/config/WaveConfigTest.groovy
Labels: docs

#6219 Fix false error when using stdin/stdout in a tuple
  modules/nf-lang/src/main/java/nextflow/script/control/VariableScopeVisitor.java
  modules/nf-lang/src/test/groovy/nextflow/script/control/ScriptResolveTest.groovy
  modules/nf-lang/src/testFixtures/groovy/test/TestUtils.groovy
Labels: backport/25.04, backport/25.04.5

#6216 Fix apptainer and singularity --no-https option
  modules/nextflow/src/main/groovy/nextflow/container/SingularityCache.groovy
  modules/nextflow/src/test/groovy/nextflow/container/ApptainerCacheTest.groovy
  modules/nextflow/src/test/groovy/nextflow/container/SingularityCacheTest.groovy
Labels: software/singularity

#6226 Upload Google Batch log on task exit
  plugins/nf-google/src/main/nextflow/cloud/google/batch/GoogleBatchScriptLauncher.groovy
  plugins/nf-google/src/test/nextflow/cloud/google/batch/GoogleBatchExecutorTest.groovy
Labels: executor/google-batch

#6229 Update Google dependencies
  plugins/nf-google/build.gradle
Labels: executor/google-batch
